@import "colors";

.navbar-container {
  background-color: $c-black-80;
}
.mat-toolbar {
  background-color: $c-black-80;

  & a:hover {
    color: $c-yellow;
    & .misc-links {
      color: $c-yellow;
    }
  }
}
.spacer {
  flex: 1 1 auto;
}
