<div class="navbar-container">
  <div class="main-wrapper u-p-0">
    <mat-toolbar class="mat-toolbar">
      <a routerLink="/">Words Racer</a>
      <div class="spacer"></div>
      <a mat-button routerLink="/race">
        <span class="misc-links">Play</span>
      </a>
      <a mat-button routerLink="/ranking">
        <span class="misc-links">Ranking</span>
      </a>
      <a mat-button routerLink="/about">
        <span class="misc-links">About</span>
      </a>
    </mat-toolbar>
  </div>
</div>
