@import "main.scss";

html, body { height: 100%; }
body {
  margin: 0;
  font-family:Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(90deg, rgba(27,73,55,1) 2%, rgba(10,65,56,1) 33%, rgba(25,43,47,1) 100%);
}
