<div class="typing-game">
  <div class="typing-game__words">
    <ng-container *ngFor="let randomWord of (gameState.randomWords$ | async); let index = index;">
      <p class="random"
         [class.wrong]="wordIndex === index && currentWordValue.length >= selectedWord.length"
         [class.highlight]="wordIndex === index && gameInProgress"
         [class.correct]="wordIndex > index">
        {{ randomWord }}
      </p>
    </ng-container>
  </div>
  <input matInput #currentWordInput
         [placeholder]="!gameInProgress ? 'Get ready' : selectedWord"
         type="text"
         id="currentWordInput"
         [(ngModel)]="currentWordValue"
         (ngModelChange)="onWordValueChange($event)">
</div>
