.l-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.l-container__center {
  @extend .l-container;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
