@import "utils";

.welcome-container {
  @extend .l-container__center;
  gap: 20px;

  &__play-button {
    border-radius: 4px;
    color: $c-yellow;
    background-color: $c-black-80;
    padding: 10px 5px;
    text-align: center;
    font-size: $font-size-28;
    margin: auto;
    width: 140px;
    transition: all ease-in-out 200ms;

    &:hover {
      background-color: $c-yellow;
      color: $c-black-80;
    }
  }
}
