@import "utils";

.race-view {
  &__container {
    @extend .l-container;

    & .start-button {
      border-radius: 4px;
      color: $c-yellow;
      background-color: $c-black-80;
      padding: 10px 5px;
      text-align: center;
      font-size: $font-size-20;
      width: 100px;
      min-height: 44px;
      transition: all ease-in-out 200ms;

      &:hover {
        background-color: $c-yellow;
        color: $c-black-80;
      }
    }

    & .button-group {
      display: flex;
      flex-direction: row;
      align-items: center;

        & .fake-tooltip {
          cursor: default;
          position: relative;
          opacity: 1;
          background: $c-black-80;
          border-radius: 0.25em;
          padding: 0.75em;
          margin-left: 12px;
          display: block;
          z-index: 2;
          color: white;
          height: fit-content;
          width: fit-content;
          transition: opacity ease-in-out 300ms;

          &:before {
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -8px;
            left: -15px;
            border: solid 8px transparent;
            border-right-color: $c-black-80;
            z-index: 1;
          }
        }

      & .hidden {
        opacity: 0;
      }
    }
    & .game-wpm {
      position: relative;
      margin-top: 15px;
      font-size: $font-size-24;
      font-weight: $font-weight-medium;
      width: fit-content;

      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: -5px;
        left: 0;
        background-color: $c-yellow;
        transition: transform 0.3s ease;
      }

      &.underline::after {
        transform: scaleX(1);
      }
    }
  }
}
