<div class="main-wrapper">
  <div class="race-view__container">
    <h1>Start racing</h1>
    <h3>
      Click <span class="u-text-color__yellow u-text-font-weight-500">Start</span>
      when you're ready and wait for the countdown
    </h3>
    <h3>
      You can restart the game by clicking the button <span class="u-text-color__yellow u-text-font-weight-500">Go!</span> again
    </h3>
    <mat-form-field class="words-amount">
      <mat-label>Select amount of words</mat-label>
      <mat-select [disabled]="countdownStarted" (selectionChange)="changeWordsAmount($event)">
        <mat-option *ngFor="let wordValue of wordsAmountArray" [value]="wordValue">{{wordValue}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="button-group">
      <button class="start-button"
              [disabled]="countdownStarted"
              (click)="startGame();">
        {{countdownStarted ? (secondsRemaining$ | async) : (gameState.gameInProgress$ | async) === true ? 'Go!' : 'Start'}}
      </button>
      <div class="fake-tooltip" [class.hidden]="!showTooltip">
        Click here to start
      </div>
    </div>
    <app-game-score></app-game-score>
    <app-game
      [countdownStarted]="countdownStarted"
      (showTooltip)="triggerTooltip()">
    </app-game>
    <p class="game-wpm" [ngClass]="{'underline': (gameState.gameCompleted$ | async)}">Your WPM: {{ gameState.wpm$ | async }}</p>
  </div>
</div>
