<div class="main-wrapper">
  <div class="race-view__container">
    <h1>Start racing</h1>
    <h3>Click <span class="u-text-color__yellow u-text-font-weight-500">Start</span>
      when you're ready and wait for the countdown
    </h3>
    <button class="start-button"
            [disabled]="gameInProgress"
            (click)="startGame()">
      {{countdownStarted ? (secondsRemaining$ | async) : gameInProgress ? 'Go!' : 'Start'}}
    </button>

    <app-game [gameInProgress]="gameInProgress"></app-game>
  </div>
</div>
